<div class="container">
    <aside>
        <h1>Faça o seu cadastro</h1>
        <img src="/assets/akali.png">
    </aside>

    <section>
        <form #ngForm="ngForm" [formGroup]="form">
            <!-- Name Field -->
            <div class="field-group">
                <label for="fullName">Nome Completo</label>
                <input type="text" id="fullname" placeholder="Nome completo" formControlName="fullname">
                <app-error-message [label]="'Nome completo'" [control]="getFieldControl('fullname')"></app-error-message>
            </div>
        
            <!-- Email Field -->
            <div class="field-group">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Email" formControlName="email">
                <app-error-message [label]="'Email'" [control]="getFieldControl('email')"></app-error-message>
            </div>
        
            <!-- Document Field -->
            <div class="field-group">
                <label for="document">CPF</label>
                <input type="text" id="document" placeholder="CPF" mask="000.000.000-00" formControlName="document">
                <app-error-message [label]="'CPF'" [control]="getFieldControl('document')"></app-error-message>
            </div>
        
            <!-- Birth Date -->
            <div class="field-group">
                <label for="birthDate">Data de nascimento</label>
                <input type="date" id="birthDate" formControlName="birthDate">
                <app-error-message [label]="'Data de nascimento'" [control]="getFieldControl('birthDate')"></app-error-message>
            </div>
        
            <!-- Password Field -->
            <div class="field-group">
                <label for="password">Senha</label>
                <input type="password" id="password" placeholder="Senha" formControlName="password">
                <app-error-message [label]="'Senha'" [control]="getFieldControl('password')"></app-error-message>
            </div>
        
            <!-- Confirm Password Field -->
            <div class="field-group">
                <label for="confirmPassword">Confirmação de senha</label>
                <input type="password" id="confirmPassword" placeholder="Confirmação de senha" formControlName="confirmPassword">
                <app-error-message [label]="'Confirmação de senha'" [control]="getFieldControl('confirmPassword')"></app-error-message>
            </div>
        
            <button type="submit" [disabled]="form.invalid || ngForm.submitted" (click)="register(this.form.value)">Cadastrar</button>
            <a href="login"><p>Já possuo uma conta. Fazer login</p></a>
        </form>
    </section>
</div>